@charset "UTF-8";

body	{margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}


/* 基本 */

.page {
	margin: 0;
}

.page-head img {
	width: 80px;
	vertical-align: bottom;
}

.page-nav,
.page-btn-close {
	display: none;
}

/* グリッド */
.page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}